<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<head>Edit Pokemon </head>



	<form action="/pokemon/<%= index%>?_method=PUT" method="POST">
	Name: <input type="text" name="name" value="<%=pokemon.name%>"><br>
	Image: <input type="text" name="img" value="<%=pokemon.img%>"><br>
	Type: <input type="text" name="type" value="<%=pokemon.type%>"><br>


	<br>


	<button type="Submit">Edit Fruit</button>




</body>
</html>