<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>POKEMON</h1>

	<p><a href="/pokemon/new">Add a Pokemon!</a></p>

	<ul>
		<% for(let i = 0; i < pokemonList.length; i++) {%>	

		
			
		<a href="/pokemon/<%=i%>"><img src="<%= pokemonList[i].img%>"></a>	




		<a href="/pokemon/<%= i %>/edit">Edit Fruit</a>

		</li>


	<%}%>	
	</ul>


</body>
</html>