<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Index</h1>

	<ul>
		<% for(let i = 0; i < pokemonList.length; i++) {%>	

		
			
		<a href="/pokemon/<%=i%>"><img src="<%= pokemonList[i].img%>"></a>	




		</li>


	<%}%>	
	</ul>


</body>
</html>