<!DOCTYPE html>
<html>
<head>
	<title>Add a pokemon</title>
</head>
<body>

	<h1>Add a Pokemon</h1>


	<form action="/pokemon" method="POST">
		Name: <input type="text" name="name"><br>
		Image: <input type="text" name="img"><br>
		Type: <input type="text" name="type"><br>
		<input type="submit" name="" value="Create Pokemon!">
		
	</form>


</body>
</html>